<%- include partials/head.ejs %>

<body>
    <!--::header part start::-->
    <%- include partials/header.ejs %>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-6">
                    <div class="breadcrumb_tittle text-left">
                        <h2>Category Page</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb_content text-right">
                        <p>Home<span>/</span>Category Page</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- feature_post start-->
    <section class="all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <%blogs.forEach(function(blog, index){%>
                            <div class="<%if(index === 0) {%> col-lg-12 <%} else{%>col-lg-6 col-sm-6 <%}%>">
                                <div class="single_post post_1 feature_post">
                                    <div class="single_post_img">
                                        <img src="<%=blog.poster%>" alt="">
                                    </div>
                                    <div class="single_post_text text-center">
                                        <a href="/category/<%=blog.category%>"><h5> <%=blog.category%></h5></a> 
                                        <a href="/blog/<%=blog._id%>"><h2><%=blog.title%></h2></a>
                                        <p>Posted on <%=new Date(blog.createdAt).toLocaleString()%></p>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                    </div>
                </div>
                <div class="col-lg-4">
                    <%- include partials/sidebar.ejs %>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_post end-->

    <!-- social_connect_part part start-->
    <%- include partials/social.ejs %>
    <!-- social_connect_part part end-->

    <!-- footer part start-->
    <%- include partials/footer.ejs %>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>