<%- include partials/head.ejs %>
   <!--::header part start::-->
   <div style="height: 100px;"></div>
    <%- include partials/header.ejs %>
    <!-- Header part end-->
<h1 class="text-center"><%= message %></h1>
<h2 class="text-center"><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include partials/footer.ejs %>