<%- include partials/head.ejs %>
   <!--::header part start::-->
    <%- include partials/header.ejs %>
    <!-- Header part end-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include partials/footer.ejs %>