
<%- include partials/head %>
<body>
    <!--::header part start::-->
    <%- include partials/header %>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Blog Single</h2>
                            <p>Home<span>-</span>Blog Single</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="<%=blog.poster%>" alt="">
                  </div>
                  <div class="blog_details">
                     <h2><%=blog.title%></h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="/category/<%=blog.category%>"><i class="far fa-user"></i><%=blog.category%></a></li>
                     </ul>
                     <div data-body="<%=blog.body%>" id="blog_body">
                        <%=blog.body%>
                     </div>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <!-- <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="#">
                                 <h4>Space The Final Frontier</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="#">
                                 <h4>Telescopes 101</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div> -->
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="/img/blog/author.png" alt="">
                     <div class="media-body">
                        <a>
                           <h4><%=blog.author%></h4>
                        </a>
                        <p><%=new Date(blog.createdAt).toLocaleDateString() %></p>
                     </div>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>Comments</h4>
                  <%comments.forEach(function(comment) {%> 
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <!-- <div class="thumb">
                              <img src="img/comment/comment_1.png" alt="">
                           </div> -->
                           <div class="desc">
                              <p class="comment">
                                 <%=comment.comment%>
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <p><%=comment.comment%></p>
                                    </h5>
                                    <p class="date"><%=new Date(comment.createdAt).toLocaleDateString() %> </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <%})%>
               </div>
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form data-id="<%=blog._id%>" id="commentForm" method="POST" action="/blog/addcomment" class="form-contact comment_form">
                     <input type="hidden" value="<%=blog._id%>" name="blog" />
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                           </div>
                        </div>
                     </div>
                     <h2 id="comment-error" style="color: red;"></h2>
                     <div class="form-group">
                        <button id="comment-submit-btn" type="submit" class="button button-contactForm btn_1">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
               <%- include partials/sidebar %>
            </div>
         </div>
      </div>
   </section>
   <!--================Blog Area end =================-->

   <!-- footer part start-->
      <%- include partials/footer %>
     <!-- footer part end-->

     <script>
      // var commentForm = document.getElementById('commentForm');
      // var blog = commentForm .getAttribute('data-id')
      // var comment = commentForm ['comment'];
      // var email = commentForm ['email'];
      // var displayname = commentForm ['display-name']
      // var website = commentForm ['website']

      var button = document.getElementById('comment-submit-btn')

      let bodyDiv = document.getElementById('blog_body');

      
      document.onreadystatechange = function (e) {
         if (document.readyState === 'complete') {
            let text = bodyDiv.getAttribute('data-body');
            console.log(text);
            bodyDiv.innerHTML= text;
         }
         
      }
      // button.onclick = submitForm();
      // commentForm.onsubmit = function (e) {
      //    e.preventDefault();
      //    submitForm(e);
      //    return false;
      // }

      function submitForm (e) {
         console.log({ comment: comment.value, blog, email: email.value, name: displayname.value, website: website.value });

         if ((comment.value === '') || (displayname.value === '') ){
            
            document.getElementById('comment-error').innerHTML = 'Comment and Name fields are required!!!'
         } else {

            document.getElementById('comment-error').innerHTML = ''
            fetch('/blog/addcomment', {
               method: 'POST',
               body: JSON.stringify({
                  comment: comment.value, blog, email: email.value, name: displayname.value, website: website.value
               }),
               headers: {
                  'Content-Type': 'application/json'
               }
            })
            .then((res) => res.json())
            .then(()=> {
               window.location.reload()
            })
            .catch((error)=> {
               console.log(error);
               
            })
         }

      }
      
   
   </script>


 </body>
 
 </html>