
<%- include ./partials/head %>
<body>
    <!--::header part start::-->
    <%- include partials/header.ejs %>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-6">
                    <div class="breadcrumb_tittle text-left">
                        <h2>blog details</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb_content text-right">
                        <p>Home<span>/</span>blog details</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
   <!--================Blog Area =================-->
   <%if (blog) {%>
   <section class="blog_area single-post-area all_post section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <h2 class="text-center"><%=blog.title%></h2>
                  <h5 style="color: #5e5a58;" class="text-center"><%=blog.category%></h5>
                  <div class="feature-img d-flex flex-row justify-content-center">
                     <img class="img-fluid" src="<%=blog.poster%>" alt="">
                  </div>
                  <div data-body="<%=blog.body%>" id="blog_body" class="blog_details">
                     
                  </div>
               </div>
             
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="img/blog/author.png" alt="">
                     <div class="media-body">
                        <a href="">
                           <h4>Written by <%=blog.author %></h4>
                           <h4>Posted on <%=new Date(blog.createdAt).toLocaleString()%></h4>
                        </a>
                     </div>
                  </div>
               </div>
               <%if (comments.length >0 ) {%>
               <div class="comments-area">
                  <%comments.forEach(function(comment) {%>
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        
                        <div class="user justify-content-between d-flex">
                           <div class="desc">
                              <p class="comment">
                              <%=comment.comment%>
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#"><%=comment.name%></a>
                                    </h5>
                                    <p class="date">
                                       <!-- December 4, 2017 at 3:12 pm  -->
                                       
                                       <%=new Date(comment.createdAt).toLocaleString()%>
                                    </p>
                                 </div>
                                 <!-- <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <%})%>
               </div>
               <%}%>
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form data-id="<%=blog._id %>" class="form-contact comment_form" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="display-name" id="display-name" type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                           </div>
                        </div>
                     </div>
                     <h3 style="color: crimson;" id="comment-error"></h3>
                     <div id="comment-submit-btn" class="load_btn">
                        <a class="btn_1">SUBMIT </a>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
               <%- include partials/sidebar.ejs %>
            </div>
         </div>
      </div>
   </section>
   <%} else{%>
      <section class="blog_area single-post-area all_post section_padding">
         <div class="container">
            <h1>Blog Not found</h1>
         </div>
      </section>  
   <%}%>
   <!--================Blog Area end =================-->

     <!-- footer part start-->
     <%- include partials/footer.ejs %>
    <!-- footer part end-->

      <!-- jquery plugins here-->
      <script src="/js/jquery-1.12.1.min.js"></script>
      <!-- popper js -->
      <script src="/js/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="/js/bootstrap.min.js"></script>
      <!-- custom js -->
      <script src="/js/custom.js"></script>

      <script>
         var commentForm = document.getElementById('commentForm');
         var blog = commentForm .getAttribute('data-id')
         var comment = commentForm ['comment'];
         var email = commentForm ['email'];
         var displayname = commentForm ['display-name']
         var website = commentForm ['website']

         var button = document.getElementById('comment-submit-btn')

         let bodyDiv = document.getElementById('blog_body');

         console.log(bodyDiv);
         
         document.onreadystatechange = function (e) {
            if (document.readyState === 'complete') {
               let text = bodyDiv.getAttribute('data-body');
               console.log(text);
               bodyDiv.innerHTML= text;
            }
            
         }

         button.onclick = function(e) {
            console.log({ comment: comment.value, blog, email: email.value, name: displayname.value, website: website.value });

            if ((comment.value === '') || (displayname.value === '') ){
               
               document.getElementById('comment-error').innerHTML = 'Comment and Name are required'
            } else {

               document.getElementById('comment-error').innerHTML = ''
               fetch('/blog/addcomment', {
                  method: 'POST',
                  body: JSON.stringify({
                     comment: comment.value, blog, email: email.value, name: displayname.value, website: website.value
                  }),
                  headers: {
                     'Content-Type': 'application/json'
                  }
               })
               .then((res) => res.json())
               .then(()=> {
                  window.location.reload()
               })
               .catch((error)=> {
                  console.log(error);
                  
               })
            }

         }
         
      
      </script>
</body>

</html>